::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

* {
  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}


::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
  cursor: pointer;
}
