/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #211f27;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #51497c;
}
